/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 20px;
	}
}
body {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1rem;
	line-height: 1.5;
	font-family: Georgia, serif;
}
img {
	width: 100%;
	height: auto;
}

/*
 * The Grid
 */

.col, .col-2, .col-3 {
	padding-left: 15px;
	padding-right: 15px;
}
@media (min-width: 768px) {
	.col {
		width: 50%;
		float: left;
	}
}
@media (min-width: 960px) {
	.col {
		width: 33.3333333%;
		float: left;
	}
	.col-2 {
		width: 66.6666666%;
		float: left;
	}
}
.col-3 {
	width: 100%;
}

/*
 * Typography
 */

a {
	text-decoration: none;
}
hr {
	border: 1px solid #E7E7E7;
}

/*
 * Header
 */

.header .header-title img {
	max-width: 60px;
}


/*
 * Projects
 */

.project {
	margin-top: 15px;
	margin-bottom: 15px;
}
.project img {
	border-radius: 4px;
}