/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 20px;
	}
}
body {
	font-size: 1em;
	line-height: 1.35;
	font-family: "ff-tisa-web-pro", Georgia, serif;
  color: #333;
  margin-top: 40px;
  margin-bottom: 80px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
img {
	width: 100%;
	height: auto;
	border-radius: 3px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 20px;
}

/*
 * The Grid
 */

.container {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

/*
 * Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  font-size: 1rem;
}
h1 {
  font-size: 1.25rem;
}
h2 {
  margin-top: 1.25rem;
  font-size: 1.05rem;
}
h4 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-style: italic;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	text-decoration: none;
	color: #678399;
}
a:hover {
	color: #7E7E7E;
}
hr {
	border-top: 4px solid #E7E7E7;
	border-bottom: none;
	border-left: none;
	margin-top: 30px;
	margin-bottom: 30px;
}
ul {
  padding-left: 26px;
}
ol li,
ul li {
	margin-bottom: .75rem;
}
blockquote {
  border-left: none;
  line-height: 1.35;
  font-size: 1.1rem;
  font-style: italic;
  margin-left: .75rem;
  margin-right: .75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 5px;
}

/*
 * Buttons
 */

.button {
  background-color: #E7E7E7;
  border: 0px;
  border-radius: 20px;
  padding: 7px 20px;
}

/*
 * Navigation
 */

.nav {
  margin-bottom: 50px;
}
.nav-right {
  float: right;
}
.menu-toggle {
  color: #678399;
  cursor: pointer;
}
.menu-toggle:hover {
  color: #7E7E7E;
}
.nav-menu {
  display: none;
  margin-top: 30px;
}
.nav-menu ul {
	list-style: none;
	padding-left: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}
.nav-menu ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
}

/*
 * Posts
 */

.post-meta {
	color: #7E7E7E;
}

/*
 * Form
 */

.text-box {
  border-radius: 20px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 3px;
  border: 4px solid #E7E7E7;
  width: 80%;
}
