/*
 * Global
 */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
@media (min-width:768px) {
	html {
		font-size: 18px;
	}
}
body {
	font-size: 1rem;
	line-height: 1.5;
	font-family: Georgia, serif;
	color: #7E7E7E;
	background-color: #E7E7E7;
}
@media (min-width: 768px) {
	body {
	}
}
img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}

/*
 * The Grid
 */

.sidebar {
	padding: 20px;
}
@media (min-width: 768px) {
	.sidebar {
		width: 27.6373%;
		float: left;
		background-color: white;
		height: 100%;
	}
	.main {
		width: 72.3627%;
		margin-left: 27.6373%;
		float: left;
		padding-bottom: 20px;
	}
	.project:nth-child(5n+1),
	.project:nth-child(5n) {
		width: 38.1971%;
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	.project:nth-child(5n-3) {
		width: 61.8029%;
		float: left;
		padding-right: 20px;
	}
	.project:nth-child(5n-1) {
		width: 61.8029%;
		float: left;
		padding-left: 20px;
	}
	.project:nth-child(5n-2) {
		width: 100%;
		float: left;
		padding-right: 20px;
		padding-left: 20px;
	}
}

/*
 * Typography
 */

p {
	margin-top: 0;
	margin-bottom: 20px;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #766F6B;
}
a:hover {
	color: #244040;
}
hr {
	border: 1px solid #E7E7E7;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
	}
}
.sidebar .nav {
	list-style: none;
	padding-left: 0;
}
.sidebar .nav li {
	margin-bottom: 5px;
}
.sidebar-title {
	font-size: 1.4rem;
	margin-top: 0px;
	margin-bottom: 20px;
}

/*
 * Projects
 */

.project {
	font-size: 0px;
	padding-top: 20px;
}
.project img {
	border-radius: 4px;
}