---
layout: page-wide
newsletter: true
home: true
---

<section class="measure center f3-ns ph3">
  {% capture welcome %}{% include harbor/host-welcome.md %}{% endcapture %}
  {{ welcome | markdownify }}
</section>

<hr>

<section class="measure center ph3">
  <h2>Latest posts</h2>
  {% for post in site.posts limit: 3 %}
    <div class="measure mv4">
      <h3 class="mb1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {{ post.description }}
    </div>
  {% endfor %}
</section>

<hr>

<section class="measure center ph3">
  <h2>On Programming & Web Development</h2>
  {% for post in site.categories.code %}
    {% if post.featured %}
      <div class="measure mv4">
        <h3 class="mb1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.description }}
      </div>
    {% endif %}
  {% endfor %}
</section>

<hr>

<section class="measure center ph3">
  <h2>On Fermentation</h2>
  {% for post in site.categories.writing %}
    {% if post.featured %}
      <div class="measure mv4">
        <h3 class="mb1"><a href="{{ post.url }}">{{ post.title }}</a></h3>
        {{ post.description }}
      </div>
    {% endif %}
  {% endfor %}
</section>

<!-- <hr>

<section class="measure center ph3">
  <h2>Picture Gallery</h2>
</section> -->

<hr>

<section class="measure center ph3">
  <h2>Open Source Projects</h2>
  <ul>
    <li><a href="https://kmcgillivray.github.io/wisconsin-refugees/">Wisconsin Refugees</a> - An interactive data visualization of refugee resettlements in Wisconsin from 2002-2019.</li>
    <li><a href="https://glitch.com/~life-in-weeks-template">Life in Weeks</a> - Create a grid of your life in weeks.</li>
    <li><a href="https://github.com/kmcgillivray/typeguide.css">typeguide.css</a> - Makes well-crafted website typography simple with a solid foundation of font size proportions, line heights, and vertical spacing.</li>
  </ul>
</section>

<hr>
