<div class="section">
  <div class="container-narrow">
    <div class="row">
      <div class="col-12">
        {% if page.date %}
        <p class="post-date">Published {{ page.date | date: "%-d %B %Y" }}</p>
        {% else %}
        {% for post in site.categories.writing | limit: 1 %}
        <p class="post-date">Published {{ post.date | date: "%-d %B %Y" }}</p>
        {% endfor %}
        {% endif %}
      </div>
      <div class="col-3">
        <a href="/about"><img class="img-profile" src="/img/kevin-profile.jpg"></a>
      </div>
      <div class="col-8">
        <p><a href="/about">Kevin McGillivray</a> is a teacher, designer, and web developer from Wisconsin. He writes about creativity, mindfulness, design, and tea. He <a target="_blank" href="http://twitter.com/kev_mcg">tweets</a> and <a target="_blank" href="http://kevinschmevin.com">tumbles</a>.</p>
      </div>
    </div>
  </div>
</div>
