<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ site.title }} {% if page.title %}|{% endif %} {{ page.title}}</title>
    <meta name="description" content="Web developer, graphic designer, teacher. All about creativity, mindfulness, education, technology, and art.">
		
		<link rel="stylesheet" href="/css/normalize.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    
    <script src="//use.typekit.net/zmv7dtr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body data-spy="scroll" data-target="#sidebar" data-offset="100">