<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }} {% if page.title %}|{% endif %} {{ site.title }} </title>
  <meta name="description" content="Web developer, graphic designer, teacher. All about creativity, education, mindfulness, and tea.">

	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="/css/main.css">
	{% if page.syntax %}
  	<link rel="stylesheet" href="/css/syntax.css">
	{% endif %}

	{% include social-meta.html %}
</head>
