<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ page.title }} {% if page.title %}|{% endif %} {{ site.title }} </title>
  <meta name="description" content="Kevin McGillivray is writing, painting, and wandering web neighborhoods.">
	<link rel="stylesheet" href="https://use.typekit.net/gox6jgr.css">
	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/noble.css">
	{% if page.syntax %}
  	<link rel="stylesheet" href="/css/syntax.css">
	{% endif %}
	<link rel="me" href="{{ site.url }}/about">
	{% if page.url contains '/lane-coaching/' %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}
	{% include social-meta.html %}
</head>
