<ul class="list pl0 tc">
  <li class="dib ph2"><a class="bn" href="/librarie"><i class="fa fa-book"></i> Library</a></li>
  <li class="dib ph2"><a class="bn" href="http://twitter.com/kev_mcg"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li class="dib ph2"><a class="bn" href="http://kevinschmevin.com"><i class="fa fa-tumblr-square"></i> Tumblr</a></li>
  <li class="dib ph2"><a class="bn" href="http://github.com/kmcgillivray"><i class="fa fa-github-alt"></i> GitHub</a></li>
  <li class="dib ph2"><a class="bn" href="mailto:kevin@sandcastle.co"><i class="fa fa-envelope"></i> Email</a></li>
</ul>
