<ul class="list pl0 tc">
  <li class="dib ph2"><a rel="me" class="bn" href="http://twitter.com/kev_mcg">Twitter</a></li>
  <li class="dib ph2"><a rel="me" class="bn" href="http://kevinschmevin.com">Tumblr</a></li>
  <li class="dib ph2"><a rel="me" class="bn" href="http://github.com/kmcgillivray">GitHub</a></li>
  <li class="dib ph2"><a rel="me" class="bn" href="https://www.instagram.com/kev_mcg/">Instagram</a></li>
  <li class="dib ph2"><a rel="me" class="bn" href="mailto:kevin.mcgillivray@me.com"><i class="fa fa-envelope"></i> Email</a></li>
</ul>
