<nav class="menu tc ph3 pb3">
    <h1 class="dib f6 ph2"><a href="/">{{ site.title }}</a></h1>
    <span class="db dib-ns main ph3"><span class="dn di-ns">⁜</span></span>
  	<ul class="dib list pl0 mv0 f6">
      <li class="dib ph2">
        <a class="gray" href="/">Latest Post</a>
      </li>
			<li class="dib ph2">
				<a class="gray" href="/archive">All Posts</a>
			</li>
    </ul>
    <span class="db dib-ns main ph2"><span class="dn di-ns">⁘</span></span>
    <ul class="dib list pl0 mv0 f6">
			<li class="dib ph2">
				<a class="gray" href="/code">Code</a>
			</li>
  		<li class="dib ph2">
  			<a class="gray" href="/sketchbook">Sketchbook</a>
  		</li>
			<li class="dib ph2">
  			<a target="_blank" class="gray" href="http://teaguide.co">Tea <span class="small fa fa-external-link mid-gray"></span></a>
  		</li>
    </ul>
    <span class="db dib-ns main ph2 b"><span class="dn di-ns">∴</span></span>
    <ul class="dib list pl0 mv0 f6">
  		<li class="dib ph2">
  			<a class="gray" href="/about">About</a>
  		</li>
      <!-- <li {% if page.title == "Status" %}class="active"{% endif %}>
        <a href="/status">Status</a>
      </li> -->
  	<ul>
</nav>
