<nav class="tc ph3">
  <div>
    <h1 class="f4"><a href="/">{{ site.title }}</a></h1>
	  <nav class="f6 w-100">
	  	<ul class="list pl0">
        <li class="dib ph2">
          <a href="/">Latest Post</a>
        </li>
				<li class="dib ph2">
					<a href="/archive">All Posts</a>
				</li>
				<span class="db dib-ns light-gray"><span class="dn di-ns">•</span></span>
				<li class="dib ph2">
					<a href="/code">Code</a>
				</li>
	  		<li class="dib ph2">
	  			<a href="/sketchbook">Sketchbook</a>
	  		</li>
				<li class="dib ph2">
	  			<a target="_blank" href="http://teaguide.co">Tea <span class="small fa fa-external-link mid-gray"></span></a>
	  		</li>
				<span class="db dib-ns light-gray"><span class="dn di-ns">•</span></span>
	  		<li class="dib ph2">
	  			<a href="/about">About</a>
	  		</li>
        <!-- <li {% if page.title == "Status" %}class="active"{% endif %}>
          <a href="/status">Status</a>
        </li> -->
	  	<ul>
	  </nav>
  <div>
</nav>
