<nav class="menu tc pa3 z-2 relative" role="navigation">
  <a class="db dib-ns f6 ph2 pb2 bn no-underline b sage-mid-dark d-newsprint" href="/">{{ site.title }}</a>
  <div class="db dib-ns sr-only">
    Skip to: <a href="#content">main content</a><br>
  </div>
	<ul class="dib-ns list pa0 mv0 f6">
    <span class="db dib-ns treasure-dark ph3"><span id="spacer-1" class="dn di-ns"></span></span>
		<li class="dib ph2">
			<a class="link newsprint-dark d-newsprint" href="/archive">All Posts</a>
		</li>
    <!-- <span class="db dib-ns main ph2"><span id="spacer-2" class="dn di-ns"></span></span> -->
		<li class="dib ph2">
			<a class="link newsprint-dark d-newsprint" href="/sketchbook">Sketchbook</a>
    </li>
    <li class="dib ph2">
			<a class="link newsprint-dark d-newsprint" href="https://patternworkshop.substack.com">Newsletter</a>
		</li>
    <!-- <span class="db dib-ns main ph2 b"><span id="spacer-3" class="dn di-ns"></span></span> -->
    <li class="dib ph2">
			<a class="link newsprint-dark d-newsprint" href="/about">About</a>
		</li>
  </ul>
</nav>
