<div class="container-narrow">
  <h2 class="tc f2 lh-title">Letters in bottles</h2>
  <p>Signal your address to receive my infrequent newsletters in a bottle where I write about treasures, tales, and deep dive dispatches.</p>
  <form action="https://tinyletter.com/kmcgillivray" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/kmcgillivray', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <label class="sr-only" for="tlemail">Email</label>
    <input class="w-100 clarendon pa3 mb3 bg-newsprint-light bn" placeholder="name@example.com" type="text" name="email" id="tlemail" />
    <input type="hidden" value="1" name="embed"/><input class="w-100 dim db pa3 bg-signal-mid-dark signal-light d-bg-seafoam-mid-light d-seafoam-dark bn clarendon pointer" type="submit" value="Subscribe" />
  </form>
</div>
