<div class="section cf">
  <div class="container-narrow">
    {% capture postDate %}
      {% if page.date %}
        {{ page.date | date: "%-d %B %Y" }}
      {% else %}
        {% for post in site.categories.writing | limit: 1 %}
          {{ post.date | date: "%-d %B %Y" }}
        {% endfor %}
      {% endif %}
    {% endcapture %}

    <p class="post-date tc tl-m avenir">Published {{ postDate }}</p>
    <hr>
    
    {% include bio.html %}
  </div>
</div>

<div class="section post-footer">
  <a class="dim dib ph4 pv2 main bg-transparent ba b--main br-pill f3 avenir"{% if page.category == "development" %}href="/code"{% else %}href="/archive"{% endif %}>See all posts</a>
</div>
