<div class="section cf">
  <div class="container-narrow">
    {% capture postDate %}
      {% if page.date %}
        {{ page.date | date: "%-d %B %Y" }}
      {% else %}
        {% for post in site.posts | limit: 1 %}
          {{ post.date | date: "%-d %B %Y" }}
        {% endfor %}
      {% endif %}
    {% endcapture %}

    <p class="post-date tc tl-m">Published <time class="dt-published">
{{ postDate }}</time></p>
    <hr>

    {% include bio.html %}
  </div>
</div>

{% if page.category == "development" %}
  {% assign link = "/code" %}
{% elsif page.category == "journal" %}
  {% assign link = "/journal" %}
{% else %}
  {% assign link = "/archive" %}
{% endif %}
<div class="section post-footer">
  <a class="dim dib ph4 pv2 bg-transparent f3" href="{{ link }}">See all posts</a>
</div>
