		<header class="sidebar">
			<h1 class="sidebar-title"><a href="/"><img class="img-circle portrait" src="img/portrait.jpg"></a></h1>
			<p>{{ site.description }}</p>
      <hr>
			<nav class="nav">
				<ul>
					<li>
						<a href="/">Projects</a>
					</li>
					<li>
						<a href="http://twitter.com/kev_mcg">@kev_mcg</a>
					</li>
					<li>
						<a href="/about">More</a>
					</li>
				<ul>
			</nav>
			{% if page.next.url %}
			  <p>Previous project:<br>
        <a href="{{page.next.url}}">{{page.next.title}}</a></p>
			{% endif %}
			{% if page.previous.url %} 
				<p>Next project:<br>
        <a class="prev" href="{{page.previous.url}}"> {{page.previous.title}}</a></p>
			{% endif %} 
		</header>