<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@kev_mcg" />
<meta name="twitter:creator" content="@kev_mcg" />
<meta property="og:title" content="{% if page.collection == 'notes' %}{{ page.date | date: '%-d %b %Y'  }}{% else %}{{ page.title }}{% endif %}">
<meta property="og:type" content="article">
<meta property="og:site_name" content="Kevin McGillivray">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
{% if page.description %}
<meta property="og:description" content="{{ page.description }}">
{% else %}
<meta property="og:description" content="{{ page.excerpt | strip_html | truncate: 200}}">
{% endif %}
{% if page.social-image %}
{% if page.external-social-image %}
  <meta property="og:image" content="{{ page.social-image }}">
{% else %}
  <meta property="og:image" content="{{ site.url }}/img/{{ page.social-image }}">
{% endif %}
{% else %}
<meta property="og:image" content="{{ site.url }}/img/kevin-alt-4.jpg">
{% endif %}
