/*
 * Buttons
 */

.button {
  color: $white;
  width: 100%;
	padding: 12px 25px;
	border: 0;
  box-shadow: 0 2px 1px rgba(0, 81, 123, .2);
  background-color: $main-color;
  border-bottom: 3px solid #4B5460;
	border-radius: 5px;
}
.button-primary {
	color: $main-color;
	background-color: transparent;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	border: 1px solid #3BA5CF;
	border-radius: 2rem;
	transition: .3s all;
}
.button-primary:hover {
  color: $main-color;
	opacity: .65;
	transition: .25s all;
}
.button-large {
	font-size: 1.5rem;
}
