.nav {
  color: #B86A5D;
  border-bottom: 1px solid $light-grey;
  font-size: .95rem;
}
.nav-name {
  display: inline-block;
  color: $main-color;
  border-top: 5px solid $main-color;
}
.nav a {
  display: inline-block;
  padding: 15px;
  border-bottom: none;
}
.nav-menu {
  display: inline-block;
}
.nav-right {
  float: right;
}
.menu-toggle {
  cursor: pointer;
}
.menu-toggle:hover {
  color: #7E7E7E;
}
.nav-menu ul {
	list-style: none;
	padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.nav-menu ul li {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 0;
}
