.post {
  margin-left: auto;
  margin-right: auto;
}
.post-header {
  margin-bottom: 20px;
}
.post-meta {
	color: #777;
  font-size: .9rem;
}
.post-footer {
	margin-top: 3rem;
	padding-top: 3rem;
	padding-bottom: 2rem;
	border-top: 1px solid #DCD9C8;
  text-align: center;
}
