---
layout: page-wide
---

<div class="mw7 center cf">

  <div class="ph3 measure">
    <h1>/{{ page.category }}</h1>
    <p>{{ page.description }}</p>
  </div>

  <div class="grid">
    {% for post in site.categories[page.category] %}
      <div class="pa3">
        {% if post.social-image %}
          <a href="{{ post.url }}"><img class="db mt0" src="/img/{{ post.social-image }}"></a>
        {% endif %}
        <h3 class="mb1 mt0 lh-title"><a href="{{ post.url }}" class="link signal-dark">{{ post.title }}</a></h3>
        <div class="i">{{ post.description }}</div>
      </div>
    {% endfor %}
  </div>

</div>

<div class="section cf">
  <div class="container-narrow">
    {% include bio.html %}
  </div>
</div>
