<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ site.title }}</title>
		
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		
		<header class="sidebar">
			<a class="sidebar-title" href="/">Kevin McGillivray</a>
			<p>{{ site.description }}</p>
			<hr>
			<ul>
				<li>
					<a href="#">Projects</a>
				</li>
				<li>
					<a href="#">@kev_mcg</a>
				</li>
				<li>
					<a href="/about">More</a>
				</li>
		</header>
		
		<div class="main">
		
		{{ content }}
		
		</div>
	
	<script src="js/holder.js"></script>
	</body>
</html>