<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/oua2wdu.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/diver.css">
    {% include social-meta.html %}
  </head>
  <body class="clarendon ph4 bg-newsprint-light d-bg-newsprint-dark">
    {% include navigation.html %}

    <article class="center">
      {{ content }}
    </article>
  </body>
</html>
