<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/oua2wdu.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    <link rel="stylesheet" href="/css/diver.css">
    {% include social-meta.html %}
  </head>
  <body class="clarendon lh-copy pa4 bg-newsprint-light newsprint-dark">
    <nav class="menu mw8 center pb4" role="navigation">
      <a class="db dib-ns f6 ph2 pb2 bn newsprint-dark" href="/">{{ site.title }}</a>
      <div class="db dib-ns sr-only">
        <!-- Skip to: <a href="#content">main content</a><br> -->
        {% if page.lang %}
        <a href="#languages">Change language</a>
        {% endif %}
      </div>
    	<ul class="dib-ns list pa0 mv0 f6">
        <span class="db dib-ns main ph3"><span id="spacer-1" class="dn di-ns"></span></span>
        <li class="dib ph2">
          <a class="newsprint-dark bn" href="/">Latest Post</a>
        </li>
    		<li class="dib ph2">
    			<a class="newsprint-dark bn" href="/archive">All Posts</a>
    		</li>
        <li class="dib ph2">
    			<a class="newsprint-dark bn" href="/writing">Writing</a>
    		</li>
        <li class="dib ph2">
    			<a class="newsprint-dark bn" href="/code">Code</a>
    		</li>
        <li class="dib ph2">
    			<a class="newsprint-dark bn" href="/journal">Journal</a>
    		</li>
        <li class="dib ph2">
    			<a class="newsprint-dark bn" href="/notes">Notes</a>
    		</li>
        <span class="db dib-ns main ph2"><span id="spacer-2" class="dn di-ns"></span></span>
        <li class="dib ph2">
          <a class="newsprint-dark bn" href="/projects">Projects</a>
        </li>
    		<li class="dib ph2">
    			<a class="newsprint-dark bn" href="/sketchbook">Sketchbook</a>
    		</li>
        <span class="db dib-ns main ph2 b"><span id="spacer-3" class="dn di-ns"></span></span>
        <li class="dib ph2">
    			<a class="newsprint-dark bn" href="/about">About</a>
    		</li>
        <li class="dib ph2">
          <a class="newsprint-dark bn" href="/word">Word</a>
        </li>
      </ul>
    </nav>

    <article class="center">
      {{ content }}
    </article>
  </body>
</html>
