---
layout: page-wide
newsletter: true
---

{% if page.image %}
  <img class="post-image" src="/img/{{ page.image }}">
{% endif %}

<div class="post">
  <div class="container-narrow">
    <div class="post-header">
	    <h1>{{ page.title }}</h1>
	    <p class="post-meta">By Kevin McGillivray</p>
    </div>
  </div>
  <div class="container-narrow">
    {{ content }}
  </div>
</div>

{% include bio.html %}

<div class="section post-footer">
  {% if page.category == "development" %}
    <a class="button-primary button-large" href="/code">See all posts</a>
  {% else %}
    <a class="button-primary button-large" href="/archive">See all posts</a>
  {% endif %}
</div>

<div class="container-narrow">
  <form action="https://tinyletter.com/kmcgillivray" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/kmcgillivray', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
  <h2>Be notified of new posts. Subscribe to the newsletter:</h2>
  <input class="text-box" placeholder="Enter your email address..." type="text" name="email" id="tlemail" />
  <input type="hidden" value="1" name="embed"/><input class="button-primary" type="submit" value="Subscribe" /></form>
</div>
